node_modules
out
dist
.svelte-kit/
*.local
.local/
pb_data/
pb_migrations/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Finder (MacOS) folder config
.DS_Store
